{% extends 'base.html' %}
{% load static %}

{% block title %}
   Ares Training 
{% endblock title %}

{% block content %}
{% include 'includes/header.html' %}
{% include 'administrador/baseadministrador.html' %}
<div class="container mt-5">
   <h4 class="text-center">Registrar Nueva Meta</h4>
   <div class="row justify-content-center">
      <div class="col-md-6">
         <form method="post" action="{% url 'metas_app:crearmetasadmin' %}" class="border p-4 rounded">
            {% csrf_token %}
            <div class="mb-3 row">
               <!-- <div class="mb-3">
                   <label for="{{ form.fecha.id_for_label }}" class="form-label">Fecha de dieta</label>
                  
                   <input type="date" id="{{ form.fecha.id_for_label }}" name="{{ form.fecha.name }}" class="form-control" required>
               </div> -->
               <div class="mb-3">
                  <label for="{{ form.alumno.id_for_label }}" class="form-label">Alumno</label>
                  {{ form.alumno }}
              </div>
              <div class="mb-3">
               <label class="form-label">Meta en</label>
               {% for checkbox in form.nombre %}
                   <div class="form-check">
                       {{ checkbox }}
                       {{ checkbox.label_tag }}
                   </div>
               {% endfor %}
           </div>
               <div class="mb-3">
                  <label for="{{ form.nombre.id_for_label }}" class="form-label">Peso actual del alumno en Kg.</label>
                  {{ form.peso }}
               </div>
               <div class="mb-3">
                  <label for="{{ form.nombre.id_for_label }}" class="form-label">PR en Kg.</label>
                  {{ form.pr }}
               </div>
           </div>

           <!--  <div class="mb-3">
               <label for="{{ form.rutina.id_for_label }}" class="form-label">Rutina</label>
               {{ form.rutina }}
           </div> -->
           
           
           
            <button type="submit" class="btn btn-primary">Agregar Meta</button>
         </form>
      </div>
   </div>
</div>


{% endblock content %}