<footer class="footer mt-5 py-3 bg-dark text-white sticky-bottom">
  <!-- Contenido del pie de página -->
  <div class="container text-center">
      <div class="row">
          <div class="col-md-4">
              <a href="https://www.youtube.com/tucanal" class="text-white me-2">
                  <i class="bi bi-youtube"> Youtube</i>
              </a>
              <a href="https://api.whatsapp.com/send?phone=123456789" class="text-white me-2">
                  <i class="bi bi-whatsapp"> Whatsapp</i>
              </a>
              <a href="https://www.instagram.com/tuinstagram" class="text-white">
                  <i class="bi bi-instagram"> Instagram</i>
              </a>
          </div>
          <div class="col-md-8 text-md-end">
              <span>© 2023 Ares Training. Todos los derechos reservados.</span>
          </div>
      </div>
  </div>
  <a href="#" class="floating-icon">
    <!-- Cambia el icono a tu preferencia -->
    <i class="bi bi-whatsapp"></i>
</footer>
  