{% extends 'base.html' %}
{% load static %}

{% block title %}
   Ares Training-{{form.nombre}}
{% endblock title %}

{% block content %}
{% include 'includes/header.html' %}
{% include 'administrador/baseadministrador.html' %}

<div class="container mt-5">
   <h4 class="text-center">Modificar Rutina</h4>
   <div class="row justify-content-center">
      <div class="col-md-6">
         <form method="POST" enctype="multipart/form-data" class="border p-4 rounded">
            {% csrf_token %}
            <div class="mb-3">
               <label for="{{ form.nombre.id_for_label }}" class="form-label">Nombre de rutina</label>
               {{ form.nombre }}
            </div>
            
            <div class="mb-3 row">
               <label for="{{ form.ejercicios.id_for_label }}" class="form-label">Bloc de ejercicios</label>
               <!-- Aplicar la marca de seguridad directamente en la plantilla -->
               <div class="col-12">
               {{ form.ejercicios|safe}}
               </div>
            </div>
            
            <button type="submit" class="btn btn-primary">Editar Rutina</button>
         </form>
      </div>
   </div>
</div>

<!-- Inicialización de CKEditor -->
<script src="{% static 'ckeditor5-40.1.0/build/ckeditor.js' %}"></script>

<script>
   ClassicEditor
       .create( document.querySelector( '#id_ejercicios' ) )
       .catch( error => {
           console.error( error );
       } );
  </script>
 
{% endblock content %}